.navbar{
    padding: 0 40px;
    justify-content: space-between;
    background-color: blanchedalmond;
}

.nav_heading{
    margin-right: 20px;
    font-style: 32px;
}

.nav_form{
    width: 420px;
    height: 40px;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    padding: 3px;
    position: relative;
}

.nav_search{
    flex: 1;
    height: 100%;
    padding: 1px 7px;
    font-weight: 500;
    border: none;
    outline: none;
}

.search_button{
    height: 100%;
    padding: 0 10px;
    font-style: 20px;
    font-weight: 500;
    border: none;
    background-color: #6457f9;
    color: #fff;
    cursor: pointer;
}

.search_results{
    position :absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: 10px;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    background-color: #fff;
    z-index: 9999;
}

.search_suggestion_link{
    display: flex;
}

.search_suggestion_link a{
    width: 100%;
    padding: 10px 20px;
    font-size: 18px;
    cursor:pointer;
}

.search_suggestion_link:hover, .search_suggestion_link.active{
    background-color: #e3e3e3;
}

.nav_links{
    font-size: 20px;
}

.nav_links > a{
    margin: 15px;
}

.cart_counts{
    justify-content: center;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: #6457f9;
    color: #fff;
    font-size: 15px;
    margin-left: 5px;
}

.nav_links > a.active{
    font-weight: 600;
}